{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block body %}
    <h1 class="main-title">Step watcher</h1>

    <div class="global-dashboard">
        <div>
            <h2 class="second-title">Créer une session</h2>

            {{ form_start(form, { 'attr': {'class': 'global-form'} }) }}
                <div>
                    <div>{{ form_label(form.name) }}</div>
                    <div>{{ form_widget(form.name) }}</div>
                </div>
                <div>
                    <div></div>
                    <div>{{ form_widget(form.submit) }}</div>
                </div>
            {{ form_end(form) }}
        </div>

        <div>
            <h2 class="second-title">Selectionner une session existante</h2>

            <div class="sessions">
                {% for session in sessions %}
                    <p><a class="basic-link" href="{{ path('session_show', {sessionName: session.name}) }}">{{ session.name }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>   
{% endblock %}
