{% extends 'base.html.twig' %}

{% block body %}
    <h1>Session : {{ session.name }}</h1> 

    <div>
        <h2>Add a new task</h2>

        {{ form(taskForm) }}
    </div>

    <div>
        <h2>{{ user.name }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for currentUserTask in currentUserTasksCompletion %}
                    <tr>
                        <td>{{ currentUserTask.taskDescription }}</td>
                        {% if currentUserTask.status %}
                            <td>V</td>
                            <td><a href="">Uncheck</a></td>
                        {% else %}
                            <td>X</td>
                            <td><a href="{{ path('task_check', { sessionId: session.id, taskId: currentUserTask.taskId, userId: user.id }) }}">Check</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Other participants</h2>

        <div class="other-participants">
            {% for user in users %}
                <div class="participant">
                    <h3>{{ user.name }}</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Valid</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.description }}</td>
                                    <td>X</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
