{% extends 'base.html.twig' %}

{% block body %}
    <h1>Session : {{ session.name }}</h1> 

    <div>
        <h2>Add a new task</h2>

        {{ form(taskForm) }}
    </div>

    <div>
        <h2>{{ user.name }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Valid</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.description }}</td>

                        <td>X</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Other participants</h2>

        {% for user in users %}
            <div>
                <h3>{{ user.name }}</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Valid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.description }}</td>
                                <td>X</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
