{% extends 'base.html.twig' %}

{% block body %}
    <h1>Session : {{ session.name }}</h1> 

    <div class="nav-session">
        <ul>
            <li><a href="{{ path('session_show', { sessionName: session.name }) }}">Return</a></li>
        </ul>
    </div>

    <div>
        <h2>Add a new task</h2>

        {{ form(taskForm) }}
    </div>

    <div>
        <h2>{{ user.name }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for currentUserTask in currentUserTasksCompletion %}
                    <tr>
                        <td>{{ currentUserTask.taskDescription }}</td>
                        {% if currentUserTask.status %}
                            <td class="checked">V</td>
                            <td><a href="{{ path('task_uncheck', { userTaskId: currentUserTask.userTaskId }) }}">Uncheck</a></td>
                        {% else %}
                            <td class="unchecked">X</td>
                            <td><a href="{{ path('task_check', { userTaskId: currentUserTask.userTaskId, sessionId: session.id, taskId: currentUserTask.taskId, userId: user.id }) }}">Check</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Other participants</h2>

        <div class="other-participants">
            {% for participant, taskCompletion in tasksCompletion %}
                {% if user.name != participant %}
                    <div class="participant">
                        <h3>{{ participant }}</h3>

                        <table>
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in taskCompletion %}
                                    <tr>
                                        <td>{{ data.taskDescription }}</td>
                                        {% if data.status %}
                                            <td class="checked">V</td>
                                        {% else %}
                                            <td class="unchecked">X</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
